<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /k2p/index.php/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /k2p/index.php [L]
</IfModule>